
  
  .title {
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    flex-wrap: wrap;
  }
  
  .mainVideoContainer {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .mainVideo {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
  }
  
  .mainVidTitle {
    font-size: 22px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .mainVidDescription {
    font-size: 14px;
    color: #555;
    text-align: center;
  }
  
  .videoListWrapper {
    flex: 1;
    padding: 15px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
  }
  
  .listHeader {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .videoListContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc #eee;
  }
  
  .videoListContainer::-webkit-scrollbar {
    width: 8px;
  }
  
  .videoListContainer::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  
  .list {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .list:hover {
    background-color: #ffeb3b;
    transform: scale(1.02);
  }
  
  .list:last-child {
    margin-bottom: 0;
  }
  
  .active {
    background-color: #ffcc00;
  }
  
  .active .listTitle {
    color: #fff;
  }
  
  .listVideo {
    width: 120px;
    border-radius: 5px;
  }
  
  .listTitle {
    font-size: 15px;
    color: #333;
    font-weight: bold;
  }
  
  @media (max-width: 1200px) {
    .container {
      flex-direction: column;
    }
  }
  
  @media (max-width: 450px) {
    .mainVidTitle {
      font-size: 16px;
      text-align: center;
    }
    .list {
      flex-flow: column;
      gap: 10px;
    }
    .listVideo {
      width: 100%;
    }
    .listTitle {
      font-size: 13px;
      text-align: center;
    }
  }
  